<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автостудия</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Свой стиль -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>

<!-- НАВБАР -->
<nav class="navbar navbar-dark bg-black fixed-top">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">AutoStudio</a>

    <!-- кнопка меню -->
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- меню -->
    <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="menu">

      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Меню</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>

      <div class="offcanvas-body">

        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link text-white" href="/">Главная</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/portfolio">Портфолио</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-white" href="/calculator">Калькулятор</a>
          </li>

          <li class="nav-item mt-3">
            <a class="btn btn-warning w-100" href="/booking">
              Записаться
            </a>
          </li>

        </ul>

      </div>
    </div>

  </div>
</nav>

{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>