{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <h2 class="text-center mb-4">Калькулятор</h2>

    <form method="post" class="card p-4 custom-card">
        <select name="service" class="form-control mb-3">
            <option value="polish">Полировка</option>
            <option value="ceramic">Керамика</option>
            <option value="cleaning">Химчистка</option>
        </select>

        <select name="car_type" class="form-control mb-3">
            <option value="sedan">Седан</option>
            <option value="suv">SUV</option>
            <option value="premium">Премиум</option>
        </select>

        <button class="btn btn-gold">Рассчитать</button>
    </form>

    {% if price %}
        <h3 class="text-center mt-4">Стоимость: {{ price }} €</h3>
    {% endif %}
</div>

{% endblock %}